/* Size for Logo */
nav .navbar-brand
{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

/* Colors for Logo */
.blue
{
    color: #15a4ec;
    padding-left: 20px;
}
.black
{
    color: #000000;
}

/* Navbar */ 
.navbar-nav
{
    padding-right: 40px;
}   
.nav-link
{
    color: #15a4ec;
}   

.nav-link:hover
{
    color: #000000;
}

/* Plane image */ 
img {
    display: block;
    width: 4%;
}

/* Login/Register pages */
.btn-primary {
    background-color:black;
    color: #15a4ec;
    border: none;
}
.btn-primary:hover {
    background-color:#15a4ec;
    color: black;
    border: none;
}

.register_details {
    text-align: center;
    size: medium;
    color: #15a4ec;
    margin-top: 40px;
    margin-bottom: 40px;
}




